body {
     background-color: #2e2e2e;
     font-family: 'Quicksand', sans-serif;
   }
   
   ol, ul {
     padding-left: 30px;
   }
   
   .board-row:after {
     clear: both;
     content: "";
     display: table;
   }
   
   .status {
     margin-bottom: 10px;
   }
   
   .square {
     background-color: inherit;
     border: 1px solid #999;
     float: left;
     font-size: 150px;
     font-weight: bold;
     line-height: 150px;
     height: 150px;
     margin: 5px;
     padding: 0;
     text-align: center;
     width: 150px;
     border-radius: 10px;
     
   }
   
   .square:focus {
     outline: none;
   }
   
   .kbd-navigation .square:focus {
     background: #ddd;
   }
   
   
   .game-info {
     margin-left: 20px;
   }
   
   .game {
     display: grid;
     justify-content: center;
     align-content: center;
     margin-top: 10px;
     margin:auto;
     position:relative;
     height: 100%;
}

.game-board {
     margin: 0 auto;
}

.button {
     background-color:rgb(114, 118, 144);
     color:white;
     border-radius:10px;
}

.statusText {
     color:white;
}